<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  
</div>
<mat-tab-group [selectedIndex]="selectedIndex">
  <mat-tab label="Accounts">
    <br>
      <fieldset>
          <legend>Twitter</legend>
    <mat-list class="make-scrollable">

      <mat-list-item *ngFor="let account of accounts">
          <a matLine href="#dsf.html" (click)="loadMessages(account.id)"> {{account.name}}</a>
        <img matListAvatar src="http://kccl.tv/sites/default/files/Sun-Tv-HD.png" alt="...">
        
        <p matLine>
          <span> {{account.type}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </fieldset>
  </mat-tab>
  
  <mat-tab label="Dashboard">
    <br/>
     <message-list></message-list>
     <button mat-raised-button color="primary" class="pull-right" (click)="gotoNewPost()">Post Message</button>
  </mat-tab>

  <mat-tab label="Post">
      <br/>

      <form >
        <div>

         

        <div class="sub-entry">
          <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Message" class="message"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Link To Share">
              </mat-form-field>
<br>
<input style="display: none" id="input-file-id" multiple type="file" (change)="readUrl($event)"/>
<label for="input-file-id" class="pull-right mat-raised-button mat-warn">
    Browse To attach an image
</label>
             
    <br>      <br>      
              <mat-checkbox>
<img width="50px" height="50px" src="http://www.iconarchive.com/download/i49146/yootheme/social-bookmark/social-facebook-box-blue.ico"/>
</mat-checkbox>
&nbsp;&nbsp;&nbsp;
<mat-checkbox>
    <img width="50px" height="50px" src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Twitter-icon.png"/>
              </mat-checkbox>
         <br/>
        
         
              <button class="pull-right" mat-raised-button color="primary" (click)="gotoNewPost()">
                  <mat-icon>send</mat-icon>  Post It
              </button>
            </div>
            
            <div class="sub-entry">
              
             <p>   <b><u>Preview Window</u></b></p>
             <mat-radio-group>
                <mat-radio-button value="1">Facebook</mat-radio-button>
                <mat-radio-button value="2">Twitter</mat-radio-button>
              </mat-radio-group>
                <div class="preview">
                  
                    <img [hidden]="url==null" [src]="url"  style="width:90%;height:90%">
                  
                </div>
              </div>

          </div>     
        </form>

      
      
    </mat-tab>

  <mat-tab label="Search">
    <h1>Search content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Report">
    <h1>Report content</h1>
    <p>...</p>
  </mat-tab>
  <mat-tab label="Profile">
    <h1>Profile content</h1>
    <p>...</p>
  </mat-tab>
</mat-tab-group>
